.shop__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  .shop__container__tabs {
    display: flex;
    position: relative;
    top: 1px;

    [class^='shop__container__tabs__'] {
      border: 1px solid #fff;
      background-color: rgb(38, 199, 65);
      width: 35px;
      height: 35px;
      padding: 1.5rem;
      & > svg {
        width: 100%;
        height: 100%;
      }
    }
    [class*='--selected'] {
      background-color: rgba(32,2,32,.5);;
    }
    .shop__container__tabs__clic {
      margin-right: 1rem;
    }
    .shop__container__tabs__bookworm {
      
    }
  }
}

.shop__container__nested {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff0;
  height: 100%;
  .shop__container__nested__tabs {
    display: flex;
    position: relative;
    top: 1px;

    [class^='shop__container__nested__tabs__'] {
      flex-grow: 1;
      border: 1px solid black;
      background-color: rgb(38, 199, 65);
    }
    [class*='--selected'] {
      background-color: lightcoral;
    }
    .shop__container__nested__tabs__flat {
  
    }
    .shop__container__nested__tabs__percent {
  
    }
  }
}

.shop__container__nested__items__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  z-index: 0;
  background-color: rgba(32,2,32,.5);
  padding: 1rem;
}

.shop__container__tabs__clic--selected, .shop__container__tabs__bookworm--selected {
  border-bottom: 1px solid rgb(38, 199, 65);
}

.shop__container__nested__tabs__flat--selected, .shop__container__nested__tabs__percent--selected {
  border-bottom: 1px solid rgb(38, 199, 65);
}

.shop__container-hidden {
  display: none;
}
