.shopitem__container {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffff00' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
  linear-gradient(to bottom left,#ff0,#6cf5c6);
  border-radius: 0px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #200220;
  cursor: pointer;
  transition: all .1s cubic-bezier(0.17, 0.84, 0.44, 1);

  &.not-buyable, &.mystery {
    opacity: .5;
    cursor: not-allowed;
    &:after {
      opacity: 0;
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    border-radius: 0px;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left,#6cf5c6,#822F8A);
    margin-bottom: -2px;
    box-shadow: 3px 3px 5px;
    transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
  }

  &:hover, &:active {
    &:after {
      box-shadow: 5px 5px 7px;
    }
    .shopitem__left {
      .shopitem__left__img {
        & > svg {
          filter: drop-shadow(-2px 2px #D2FF01) drop-shadow(2px -2px #6cf5c6) drop-shadow(2px 2px #822F8A) drop-shadow(-2px -2px #fff);
        }
      }
    }
  }

  &.not-buyable:hover {
    .shopitem__left {
      .shopitem__left__img {
        & > svg {
          filter: drop-shadow(-2px -2px #D2FF01) drop-shadow(2px 2px #6cf5c6) drop-shadow(-2px 2px #822F8A) drop-shadow(2px -2px #fff);
        }
      }
    }
  }

  &.mystery {
    .shopitem__left {
      .shopitem__left__img {
        & > svg {
          filter: drop-shadow(2px 2px #D2FF01) drop-shadow(-2px 2px #822F8A) drop-shadow(2px -2px #fff);
        }
      }
    }
  }

  &.mystery:hover {
    .shopitem__left {
      .shopitem__left__img {
        & > svg {
          filter: drop-shadow(2px 2px #D2FF01) drop-shadow(-2px 2px #822F8A) drop-shadow(2px -2px #fff);
        }
      }
    }
  }

  .shopitem__left {
    .shopitem__left__img {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #200220;
      filter: drop-shadow(2px 2px #ffff00);
      overflow: hidden;
      & > svg {
        fill: #200220;
        width: 40px;
        transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
        filter: drop-shadow(-2px -2px #D2FF01) drop-shadow(2px 2px #6cf5c6) drop-shadow(-2px 2px #822F8A) drop-shadow(2px -2px #fff);
      }
    }
    .shopitem__left_price {
      margin-top: 0.5rem;
      font-weight: 700;
    }
  }
  .shopitem__middle {
    display: flex;
    align-items: center;
    .shopitem__middle__name {
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
  .shopitem__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .shopitem__right__button {
      background: none;
      border: none;
      padding: 0;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      & > svg {
        fill: #200220;
        width: 100%;
        height: 100%;
      }
    }
    .shopitem__right__number {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.shopitem__container:last-child {
  margin-bottom: 0;
}


