.shopitem__container {
  border: 1px solid black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.shopitem__container:last-child {
  margin-bottom: 0;
}

.shopitem__left__img {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.shopitem__left_price {
  border: 1px solid black;
}

.shopitem__middle {
  display: flex;
  align-items: center;
}

.shopitem__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopitem__right__button {
  border: 1px solid black;
  background-color: mediumaquamarine;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
