.user__info {

  .user__info__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;
    filter: drop-shadow(4px 4px #200220);
  }

  .user__info__list {
    background-color: #fff;
    filter: drop-shadow(4px 4px #200220);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .user__info__list__info {
      font-size: 1.2rem;
    }
  }
}

.user__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.user__form__save {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    .user__form__save__button {
      border: none;
      font-size: 2rem;
      font-family: 'Press Start 2P', sans-serif;
      text-transform: uppercase;
      color: #200220;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffff00' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
        linear-gradient(to bottom left, #ff0, #6cf5c6);
      position: relative;
      padding: 1rem;
      transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
      &:hover,
      &:active {
        &:after {
          box-shadow: 5px 5px 7px #000;
          background: linear-gradient(to top right, #6cf5c6, #822F8A);
        }
      }

      &:active {
        color: #fff;
      }

      &:after {
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 3px;
        border-radius: 0px;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom left, #6cf5c6, #822F8A);
        margin-bottom: -2px;
        box-shadow: 2px 2px 3px #000;
        transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
      }

      &--clicked {
        background: linear-gradient(to bottom left, rgba(255, 255, 0, 0.5), rgba(130, 47, 138, 0.5));
      }
    }

    .game-saved-message{
      color: white;
      position: relative;
      bottom: 160px;
    }

    .user__form__disconnect__button {
      border: none;
      font-size: 1.5rem;
      font-family: 'Press Start 2P', sans-serif;
      text-transform: uppercase;
      color: #200220;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23822F8A' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
        linear-gradient(to bottom left, #822F8A, #6cf5c6);
      position: relative;
      padding: 1rem;
      transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
      &:hover,
      &:active {
        &:after {
          box-shadow: 5px 5px 7px #000;
          background: linear-gradient(to top right, #6cf5c6, #822F8A);
        }
      }
      &:active {
        color: #fff;
      }

      &:after {
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 3px;
        border-radius: 0px;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom left, #6cf5c6, #822F8A);
        margin-bottom: -2px;
        box-shadow: 2px 2px 3px #000;
        transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
      }
    }
  }
}



.user__form__delete {
  background-color: #fff;
  filter: drop-shadow(4px 4px #822F8A);
  border-radius: 5px;
  padding: 1rem;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.2rem;
  color: #200220;
  .user__form__delete__button {
    transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #822F8A;
    font-weight: bold;
    padding: 1rem;
    &:hover {
      background-color: #200220;
    }
  }
  .user__form__delete__confirm {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    justify-content: center;
    background-color: #fff;

    .confirm-refuse-button {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      [class^='button-'] {
        width: 100%;
        font-size: 1rem;
        padding: .5rem;
        border: none;
        color: #fff;
        transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
        &:not(:last-child) {
          margin-bottom: .5rem;
        }
      }
      .button-confirm {
        background-color: #fff;
        color: #822f8a;
        border: 1px solid #822f8a;
        &:hover {
          color: #200220;
          border: 1px solid #200220;
        }
      }
      .button-refuse {
        background-color: #822f8a;
        &:hover {
          background-color: #200220;
        }
      }
    }
  }
}

.user__form__delete__button {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(207, 50, 50);
  font-weight: bold;
  padding: 1rem;
}
