.user__info {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1rem;
  gap: 1rem;
}

.user__info__title {
  font-size: 1.5rem;
  color: white;
}

.user__info__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user__info__list__info {
  color: white;
}

.user__form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1rem;
  gap: 1rem;
}

.user__form__save {
  display: flex;
  flex-direction: column;
}

.user__form__save__button {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(99, 192, 235);
  font-weight: bold;
  padding: 1rem;
}

.user__form__disconnect {
  display: flex;
  flex-direction: column;
}

.user__form__disconnect__button {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(207, 50, 50);
  font-weight: bold;
  padding: 1rem;
}

.user__form__warning {
  font-weight: bold;
  color: red;
}

.user__form__delete__button {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(207, 50, 50);
  font-weight: bold;
  padding: 1rem;
}
