.small-modal {
  position: absolute;
  background-color: rgba(32, 2, 32, .5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.small-modal-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.shopitemdetail {
  position: relative;
  border: 1px solid rgb(13, 179, 13);
  width: 300px;
  background-color: white;
}

.shoitemdetail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(13, 179, 13);
}

.shoitemdetail__header__img {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(13, 179, 13);
}

.shoitemdetail__body {
  border: 1px solid rgb(13, 179, 13);
}

.shoitemdetail__footer {
  display: flex;
  justify-content: space-between;
}

