.buttons {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons__block > div{
  background-color: pink;
  padding: 0.2em;
  margin: 0.1em;
}

@media screen and (min-width: 1366px) {
  .buttons {
    width: 100%;
    background-color: transparent;
  }
  
  .buttons__block {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .buttons__a {
    width: 80px;
    height: 80px;
  }

  .buttons__b {
    width: 80px;
    height: 80px;
  }

  .buttons__c {
    width: 80px;
    height: 80px;
  }

  .buttons__d {
    width: 80px;
    height: 80px;
  }
}