.buttons {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.buttons__block > div{
  padding: 0.5em;
  margin: 0.5em;
}

@media screen and (min-width: 1366px) {
  .buttons {
    width: 100%;
    background-color: transparent;
  }
  
  .buttons__block {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .buttons__a {
    width: 80px;
    height: 80px;
    position: relative;
  }

  .notification::after {
    content:'ee';
    padding: 0.2rem;
    border-radius: 50%;
    color: red;
    background-color: red;
    position: absolute;
    top: 0;
  }
    

  .buttons__b {
    width: 80px;
    height: 80px;
  }

  .buttons__c {
    width: 80px;
    height: 80px;
  }

  .buttons__d {
    width: 80px;
    height: 80px;
  }
}

/* @media screen and (min-width: 1366px) {
  .notification {
    left: -20px;
    bottom: 0px;
  }
} */
