.buttons {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.buttons__block > div{
  padding: 0.5em;
  margin: 0.5em;
}

.buttons__a, .buttons__d, .buttons__c, .buttons__b {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
  
  &>svg {
    fill: #ff0;
    filter: drop-shadow(-3px 3px #200220) drop-shadow(0px 0px 0px #200220);
    transform: scale(-1, 1);
    transition: all .2s cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  &.notification {
    &:after {
      content:'';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: -7px;
      right: -7px;
      background-color: #df0b5c;
      position: absolute;
    }
  }
  &:hover {
    &>svg {
      filter: drop-shadow(-3px 3px #200220) drop-shadow(-3px 3px 5px #200220);
    }
  }
}

@media screen and (min-width: 1366px) {
  .buttons {
    width: 100%;
    background-color: transparent;
  }
  
  .buttons__block {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }

  .buttons__a, .buttons__b, .buttons__c, .buttons__d {
    width: 80px;
    height: 80px;
    padding: 1rem;
    position: relative;
    &.notification {
      &:after {
        top: 9px;
        right: 9px;
      }
    }
  }
}
