.quickshop {
  background-color: rgba(32, 2, 32, .5);
  padding: 0.5rem;
  width: 100%;
}

.quickshop::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  filter: blur(3px);
}

.quickshop__block {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 37%;
  background-color: rgba(32, 2, 32, .5);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */

.quickshop__block::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */



.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.quickshop__block__item {
  background-color: orange;
  min-width: 50px;
  min-height: 50px;
  margin: 0.5rem;
  border: 1px solid black;
}

@media screen and (min-width: 1366px) {
  .quickshop {
    display: none;
  }
}
