.bookworm {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: visible;
  overflow-y: auto;
  padding-bottom: 15px;
}

.bookworm-hidden {
  display: none;
}
