.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  background-color: rgb(163, 163, 163);
}

.modal__header {
  margin-bottom: 1rem;
}

.modal__header__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.modal__header__closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__content {
  height: 95%;
}

.modal-hidden {
  display: none;
}

@media screen and (min-width: 1366px) {
  .modal {
    width: 20%; 
    height: 60%;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    top: 25%;
    right: 80px;
    bottom: 0;
  }
}

