.bigheader {
  width: 100%;
  .header {
    background-color: rgba(32, 2, 32, .5);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    .header__title {
      font-family: 'Press Start 2P', sans-serif;
      margin-bottom: 1rem;
    }
    .currency, .currencypersecond {
      font-weight: 700;
      font-size: 1.6rem;
    }
    .currency {
      margin-bottom: .5rem;
    }
  }
}



@media screen and (min-width: 1366px) {

  .bigheader {
    width: 25%;
  }
  .header {
    width: 20%;
    margin-left: 1rem;
  }
  .header:last-child {
    display: none;
  }
}
