.bigheader {
  width: 100%;
  .header {
    background-color: rgba(32, 2, 32, .5);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    .header__title {
      font-family: 'Press Start 2P', sans-serif;
      margin-bottom: 1rem;
    }
    .currency, .currencypersecond {
      font-weight: 700;
      font-size: 1.6rem;
    }
    .currency {
      margin-bottom: .5rem;
    }
  }
}



@media screen and (min-width: 1366px) {

  .bigheader {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      height: 130px;
      margin-bottom: 1rem;
    }

    .shopcontainer {
      height: calc(100% - 130px - 1rem);
    }
  }
  
  .header:last-child {
    display: none;
  }
}
